<div class="main-menu">
  <!-- Brand Logo -->
  <div class="logo-box">
    <a href="index.html" class="logo-light">
      <img
        src="assets/images/logo-light.png"
        alt="logo"
        class="logo-lg"
        height="28"
      />
      <img
        src="assets/images/logo-sm.png"
        alt="small logo"
        class="logo-sm"
        height="28"
      />
    </a>
    <a href="index.html" class="logo-dark">
      <img
        src="assets/images/logo-dark.png"
        alt="dark logo"
        class="logo-lg"
        height="28"
      />
      <img
        src="assets/images/logo-sm.png"
        alt="small logo"
        class="logo-sm"
        height="28"
      />
    </a>
  </div>

  <!-- Menu -->
  <div data-simplebar>
    <ul class="app-menu" id="menu-container">
      <!-- 这里的菜单项会通过 JS 动态生成 -->
    </ul>
  </div>
</div>
