<a
  href="javascript:void(0);"
  class="dropdown-item p-0 notify-item card {{readClass}} shadow-none mb-1"
>
  <div class="card-body">
    <span class="float-end noti-close-btn text-muted">
      <i class="mdi mdi-close"></i>
    </span>
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0">{{iconHtml}}</div>
      <div class="flex-grow-1 text-truncate ms-2">
        <h5 class="noti-item-title fw-semibold font-size-14">
          {{title}} <small class="fw-normal text-muted ms-1">{{time}}</small>
        </h5>
        <small class="noti-item-subtitle text-muted">{{message}}</small>
      </div>
    </div>
  </div>
</a>
